html, body, div, p, a, button {
  border: 0;
  font: inherit;
  font-size: 100%;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}

html {
    background-color: #0d1117;
    color: #c9d1d9;
    font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    font-size: clamp(var(--min), var(--val), var(--max));
    --max: 2.5em;
    --min: 1em;
    --val: 2.5vw;
    padding-top: 2rem;
    text-align: center;
}

a {
    all: unset;
}

table, th, td {
    border: 1px solid;
    padding: .25em;
}

#table {
    margin: 2em;
    padding: 1em;
}